* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.global-width {
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.header {
  color: white;
  margin-top: 0;
  padding-right: 2rem;
  /* border: 2px solid black; */
  background-color: #004175;
  border-bottom: 2px solid #89deef;
}

.main {
  background-color: white;
}

.adoption-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

/* Stop last card from centering when two columns wide (learned at freeCodeCamp) */
.adoption-gallery::after {
  content: '';
  width: 350px;
}

.dog-name {
  font-family: Oswald, sans-serif;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.dog-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0.5rem;
  /* gap: 3px; */
}

.dog-tags li {
  list-style: none;
  margin: 0.25rem 0.15rem;
  background-color: #89deef;
  padding: 4px 8px;
  border-radius: 10px;
}

.card {
  display: grid;
  grid-template-rows: 4fr auto 3fr;
  justify-items: start;
  align-items: start;
  gap: 0px;
  width: 20rem;
}

.card:hover {
  width: 21rem;
}

.dog-image {
  width: 100%;
  /* place-self: ; */
}

.footer {
  font-family: Oswald, sans-serif;
  height: 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
/* display: flex;
flex: 1 1 auto; */
  color: white;
  margin: 0 auto 10px auto;
  padding: 0;
}

.footer-item-container {
  position: relative;
  text-align: center;
}

.footer-item {
  background-color: rgba(166, 169, 240, .75);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-img {
  max-width: 100%; */
  /* max-height: 450px; */
}

.footer-title {
  font-size: 2rem;
  font-weight: normal;
}
/*  */